<div class="invoice-container">
  <h1>Invoice</h1>

  <div class="invoice-wrapper">
    <div class="invoice-header">
      <h2>Invoice Number: {{ invoiceId() }}</h2>
      <p><strong>Date</strong>: {{ invoiceDate() | date : "short" }}</p>
    </div>

    <div class="invoice-items">
      <div class="item-header">
        <div class="column name">Product</div>
        <div class="column">Price</div>
        <div class="column">Quantity</div>
        <div class="column">Total</div>
      </div>
      @for(item of invoiceItems(); track item._id) {
      <div class="item">
        <div (click)="onRemoveItem(item._id)" class="close">
          <span>x</span>
        </div>
        <div class="name">{{ item.name }}</div>
        <div class="price">₦{{ item.price }}</div>
        <div class="quantity">
          <select (change)="onUpdateQty(item)">
            @for(qty of generateQuantityArray(item.quantity); track qty) {
            <option [value]="qty">
              {{ qty }}
            </option>
            }
            <!-- <option (click)="onUpdateQty(item)" [value]="item">
              {{ item.quantity }}
            </option> -->
          </select>
        </div>
        <div class="total">₦{{ item.total }}</div>
      </div>
      }
    </div>

    <div class="invoice-total">
      <strong>Total:</strong>
      <span>₦{{ totalAmount() }}</span>
    </div>

    <div class="payment-method">
      <label for="paymentMethod">Payment Method:</label>
      <select id="paymentMethod" [(ngModel)]="selectedPaymentMethod">
        <option value="" disabled selected>Select Payment Method</option>
        @for(method of paymentMethods(); track method.value) {
        <option [value]="method.value">{{ method.label }}</option>
        }
      </select>
    </div>

    <div class="invoice-actions">
      <button class="btn btn-neutral" (click)="onClearInvoice()">
        Clear Invoice
      </button>
      <button class="btn btn-primary" (click)="checkout()">Checkout</button>
    </div>
  </div>
</div>
