<div class="container">
  <div class="header">
    <h1>Products</h1>
    <div class="search">
      <input
        type="text"
        placeholder="Search products..."
        [(ngModel)]="searchTerm"
        (ngModelChange)="searchProducts()"
      />
    </div>
  </div>
  <div class="wrapper">
    <div [class.products-full-width]="invoiceOpened()" class="product-list">
      @for(product of productResource.value(); track product._id) {
      <app-product
        [product]="product"
        (invoiceProduct)="handleAddToInvoice($event)"
      ></app-product>
      } @if (productResource.error()) {
      <div style="padding: 20px; text-align: center">
        {{ productResource.error() }}
      </div>
      } @if(productResource.isLoading()) {
      <div class="loading">
        <mat-spinner diameter="50"></mat-spinner>
      </div>
      }
    </div>
    @if(invoiceOpened()) {
    <div class="invoice-wrapper">
      <app-invoice
        [invoiceItems]="invoiceItems()"
        (removeItem)="removeItem($event)"
        (updateQuantity)="updateQty($event)"
        (clearInvoice)="clearInvoice()"
      ></app-invoice>
    </div>
    }
  </div>
</div>
