.container {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // padding: 20px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    padding: 10px 0;
    margin-bottom: 15px;

    h1 {
      font-size: 1.5rem;
      color: #434343;
    }

    .search {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 400px;
      border-radius: 50px;

      input {
        padding: 8px 15px;
        font-size: 15px;
        border-radius: 30px;
        border: 1px solid #ccc;
        width: 100%;

        &:focus {
          outline: none;
          border-color: #4caf50;
        }
      }
    }

    @media (max-width: 768px) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      gap: 10px;

      h1 {
        font-size: 1.8rem;
        color: #434343;
      }

      .search {
        display: flex;
        align-items: center;
        width: 100%;
        border-radius: 50px;
      }
    }
  }

  .wrapper {
    display: flex;
    overflow-y: scroll;
    height: calc(100vh - 166px);
    align-items: flex-start;

    .product-list {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

      border-radius: 5px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      flex: 1.4;
      margin-right: 10px;
      padding-bottom: 15px;

      @media (max-width: 768px) {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0;
      }
    }

    .products-full-width {
      width: 100%;
    }

    .invoice-wrapper {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

      border-radius: 5px;
      margin-right: 10px;
      flex: 1;

      @media (max-width: 768px) {
        display: none;
      }
    }

    .loading {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      font-size: 1.5rem;
    }

    @media (max-width: 768px) {
      width: 100%;
      height: auto;
    }
  }
}
