<div class="container">
  <h1>Products</h1>
  <div class="product-list">
    @for(product of products; track product._id) {
    <div class="product-card">
      <div class="img-container">
        <img [src]="product.images[0]" alt="{{ product.name }}" />
      </div>
      <div class="content">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p class="price">N{{ product.price.toLocaleString() }}</p>
        <button (click)="sendToInvoice(product)">Add to Cart</button>
      </div>
    </div>
    }
  </div>
</div>
